@model IEnumerable<trackingentradaGrupoHumano.Models.TBENTRADA>

@{
    ViewBag.Title = "Index";
}


<h2>SOLICITUD CREADA DE MANERA EXITOSA</h2>

<p>
    Su solicitud fue creada, Para crear una nueva solicitud haga click en "Crear nueva solicitud"

</p>



